Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
# redirect from www to non www
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteCond %{REQUEST_URI} !^/(robots.txt|assets|css|js|fonts|img)
RewriteRule . index.php